<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        ngModel
        placeholder="Post Title"
        name="title"
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Post Content"
        name="content"
        ngModel
        required
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter Post Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Add Post</button>
  </form>
</mat-card>

